@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);


:root {
    --vp-c-left-color: #a21013;
    --vp-c-right-color: #a21013;

    --vp-home-hero-image-background-image: linear-gradient(
        130deg,
        var(--vp-c-left-color) 50%,
        var(--vp-c-right-color) 50%
    ) !important;
    --vp-home-hero-image-filter: blur(180px) !important;
}

code { 
    font-family: 'Fira Code VF', monospace  !important; 
}
@keyframes levitate {
    0%  { transform: translateY(0)     }
    30% { transform: translateY(-10px) }
    50% { transform: translateY(4px)   }
    70% { transform: translateY(-15px) }
    to  { transform: translateY(0)     }
}
.container>.image>.image-container {
    animation: levitate 10s ease 1s infinite reverse
}
